<div class="form-background">
  <div class="container">
    <center><h2 class="form-signin-heading">Sign up</h2></center>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>
      <%= devise_error_messages! %>

      <%= f.email_field :email, placeholder: "Email", class: "form-control", :autofocus => true %>

      <%= f.password_field :password, placeholder: "Password", class: "form-control" %>

      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-control" %>

      <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>

    <center><%= render "devise/shared/links" %></center>
  </div>
</div>
