<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blank Page - SB Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <%= stylesheet_link_tag "bootstrap-combined.min.css" %>
  </head>
  <div class="container">
    <div class="row">
          <div class="span8">
          <form action="billing" method="post" class="form-horizontal" id="billingform" accept-charset="utf-8">
            <div class="control-group">
              <label for="email" class="control-label"> 
                Billing E-Mail 
              </label>
              <div class="controls">
                <input name="email" type="email" value="" id="email">
                <span class="help-inline">  Where should we send invoices?</span>
              </div>
            </div>
       
            <div class="control-group">
              <label for="address" class="control-label"> 
                Street Address
              </label>
              <div class="controls"><input name="address" placeholder="W 123 Street" type="text" value="" id="address"><span class="help-inline">  Street Name and/or apartment number</span>
              </div>
            </div>
       
            <div class="control-group">
              <label for="zip" class="control-label"> 
                Zip Code
              </label>
              <div class="controls"><input name="zip" type="text" value="" id="zip">
              </div>
            </div>
       
            <div class="control-group">
              <label for="city" class="control-label">  
                City
              </label>
              <div class="controls"><input name="city" type="text" value="" id="city">
              </div>
            </div>
            
            <div class="control-group">
              <label for="country" class="control-label"> 
                Country
              </label>
              <div class="controls">
                <select name="country" id="country">
                  <option value=""></option>
                  <option value="AR">Argentina</option>
                  <option value="AU">Australia</option>
                  <option value="AT">Austria</option>
                  <option value="BY">Belarus</option>
                  <option value="BE">Belgium</option>
                  <option value="BA">Bosnia and Herzegovina</option>
                  <option value="BR">Brazil</option>
                  <option value="BG">Bulgaria</option>
                  <option value="CA">Canada</option>
                  <option value="CL">Chile</option>
                  <option value="CN">China</option>
                  <option value="CO">Colombia</option>
                  <option value="CR">Costa Rica</option>
                  <option value="HR">Croatia</option>
                  <option value="CU">Cuba</option>
                  <option value="CY">Cyprus</option>
                  <option value="CZ">Czech Republic</option>
                  <option value="DK">Denmark</option>
                  <option value="DO">Dominican Republic</option>
                  <option value="EG">Egypt</option>
                  <option value="EE">Estonia</option>
                  <option value="FI">Finland</option>
                  <option value="FR">France</option>
                  <option value="GE">Georgia</option>
                  <option value="DE">Germany</option>
                  <option value="GI">Gibraltar</option>
                  <option value="GR">Greece</option>
                  <option value="HK">Hong Kong S.A.R., China</option>
                  <option value="HU">Hungary</option>
                  <option value="IS">Iceland</option>
                  <option value="IN">India</option>
                  <option value="ID">Indonesia</option>
                  <option value="IR">Iran</option>
                  <option value="IQ">Iraq</option>
                  <option value="IE">Ireland</option>
                  <option value="IL">Israel</option>
                  <option value="IT">Italy</option>
                  <option value="JM">Jamaica</option>
                  <option value="JP">Japan</option>
                  <option value="KZ">Kazakhstan</option>
                  <option value="KW">Kuwait</option>
                  <option value="KG">Kyrgyzstan</option>
                  <option value="LA">Laos</option>
                  <option value="LV">Latvia</option>
                  <option value="LB">Lebanon</option>
                  <option value="LT">Lithuania</option>
                  <option value="LU">Luxembourg</option>
                  <option value="MK">Macedonia</option>
                  <option value="MY">Malaysia</option>
                  <option value="MT">Malta</option>
                  <option value="MX">Mexico</option>
                  <option value="MD">Moldova</option>
                  <option value="MC">Monaco</option>
                  <option value="ME">Montenegro</option>
                  <option value="MA">Morocco</option>
                  <option value="NL">Netherlands</option>
                  <option value="NZ">New Zealand</option>
                  <option value="NI">Nicaragua</option>
                  <option value="KP">North Korea</option>
                  <option value="NO">Norway</option>
                  <option value="PK">Pakistan</option>
                  <option value="PS">Palestinian Territory</option>
                  <option value="PE">Peru</option>
                  <option value="PH">Philippines</option>
                  <option value="PL">Poland</option>
                  <option value="PT">Portugal</option>
                  <option value="PR">Puerto Rico</option>
                  <option value="QA">Qatar</option>
                  <option value="RO">Romania</option>
                  <option value="RU">Russia</option>
                  <option value="SA">Saudi Arabia</option>
                  <option value="RS">Serbia</option>
                  <option value="SG">Singapore</option>
                  <option value="SK">Slovakia</option>
                  <option value="SI">Slovenia</option>
                  <option value="ZA">South Africa</option>
                  <option value="KR">South Korea</option>
                  <option value="ES">Spain</option>
                  <option value="LK">Sri Lanka</option>
                  <option value="SE">Sweden</option>
                  <option value="CH">Switzerland</option>
                  <option value="TW">Taiwan</option>
                  <option value="TH">Thailand</option>
                  <option value="TN">Tunisia</option>
                  <option value="TR">Turkey</option>
                  <option value="UA">Ukraine</option>
                  <option value="AE">United Arab Emirates</option>
                  <option value="GB">United Kingdom</option>
                  <option value="US">USA</option>
                  <option value="UZ">Uzbekistan</option>
                  <option value="VN">Vietnam</option>
                </select>
              </div>
            </div>
       
            <div class="form-actions">
              <button type="submit" class="btn btn-large btn-primary">Save Billing Address</button>
            </div>
          </form>
        </div> <!-- .span8 -->
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <form class="form-horizontal span6">
          <fieldset>
            <legend>Payment</legend>
         
            <div class="control-group">
              <label class="control-label">Card Holder's Name</label>
              <div class="controls">
                <input type="text" class="input-block-level" pattern="\w+ \w+.*" title="Fill your first and last name" required>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label">Card Number</label>
              <div class="controls">
                <div class="row-fluid">
                  <div class="span3">
                    <input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" title="First four digits" required>
                  </div>
                  <div class="span3">
                    <input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" title="Second four digits" required>
                  </div>
                  <div class="span3">
                    <input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" title="Third four digits" required>
                  </div>
                  <div class="span3">
                    <input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" title="Fourth four digits" required>
                  </div>
                </div>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label">Card Expiry Date</label>
              <div class="controls">
                <div class="row-fluid">
                  <div class="span9">
                    <select class="input-block-level">
                      <option>January</option>
                      <option>February</option>
                      <option>March</option>
                      <option>April</option>
                      <option>May</option>
                      <option>June</option>
                      <option>July</option>
                      <option>August</option>
                      <option>September</option>
                      <option>October</option>
                      <option>November</option>
                      <option>Deember</option>
                    </select>
                  </div>
                  <div class="span3">
                    <select class="input-block-level">
                      <option>2013</option>
                      <option>...</option>
                      <option>2015</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label">Card CVV</label>
              <div class="controls">
                <div class="row-fluid">
                  <div class="span3">
                    <input type="text" class="input-block-level" autocomplete="off" maxlength="3" pattern="\d{3}" title="Three digits at back of your card" required>
                  </div>
                  <div class="span8">
                    <!-- screenshot may be here -->
                  </div>
                </div>
              </div>
            </div>
         
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn">Cancel</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</html>

<h1>Order Summary</h1>
<p><%= @order.user.name if @order.user %></p>

<% if @order.incomplete? %>
<% @order.order_items.each do |order_item| %>
<%= order_item.item.name %><br/>
Quantity: <%= order_item.quantity %><br/>
Price :<%= number_to_currency(order_item.item.price) %><br/>
<% end %>
Subtotal: <%= number_to_currency(@order.total_price) %>
<% end %><br/>


<%= link_to "Complete Order", thank_you_path(@order) %>

