<!DOCTYPE html>
<head>
    <title>Billys BBQ Shack</title>
    <%= stylesheet_link_tag "front-style"%>
</head>
    <body>
        <div id="main">
            <center><%= image_tag("background4.jpg") %></center>
            <div id="footer">
                <div id="navbar"> 
                    <ul>  
                        <li>
                            <% if current_user %>
                                <span>Welcome, <%= current_user.name %></span>
                                <%= link_to "logout", logout_path, id: "login" %>
                            <% else %>
                                <%= link_to "login", login_path, id: "logout" %>
                            <% end %>
                        </li>
                        <li><a href="http://localhost:3000/about">About</a></li> 
                        <li><a href="http://localhost:3000/order_page">Account</a></li> 
                        <li><%= link_to "Menu", categories_path %></li> 
                        <li><a href="http://localhost:3000/contact">Contact</a></li>  
                        <li>©2013 Billy's Southern Style BBQ. Design by BB&K</li> 
                        <li><a href="http://localhost:3000/admin">Admin</a></li> 
                    </ul> 
                </div> 
            </div>
        </div>
    </body>
</html>
