<div id="wrapper">

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "KNIFE & FORK", front_path, {class: "navbar-brand"} %>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li class="active"><%= link_to "Dashboard", admin_path %><i class="fa fa-dashboard"></i></li>
        <li><%= link_to "All Orders", admin_orders_path %><i class="fa fa-bar-chart-o"></i></li>
        <li><%= link_to "Edit Menu", admin_items_path %><i class="fa fa-table"></i></li>
        <li><%= link_to "Create New Item", new_admin_item_path %><i class="fa fa-edit"></i></li>
        <!-- <li><a href="typography.html"><i class="fa fa-font"></i> Typography</a></li>
        <li><a href="bootstrap-elements.html"><i class="fa fa-desktop"></i> Bootstrap Elements</a></li>
        <li><a href="bootstrap-grid.html"><i class="fa fa-wrench"></i> Bootstrap Grid</a></li>
        <li><a href="blank-page.html"><i class="fa fa-file"></i> Blank Page</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Dropdown Item</a></li>
            <li><a href="#">Another Item</a></li>
            <li><a href="#">Third Item</a></li>
            <li><a href="#">Last Item</a></li> -->
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right navbar-user">
        <li class="dropdown messages-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">3</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">3 New Messages</li>
            <li class="message-preview">
              <a href="#">
                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                <span class="name">Jonah Moses:</span>
                <span class="message">Hey, wanna ride motorcycles with me!?</span>
                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
              </a>
            </li>
            <li class="divider"></li>
            <li class="message-preview">
              <a href="#">
                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                <span class="name">Bryana Knight:</span>
                <span class="message">We need to talk to you. It's important. :(</span>
                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
              </a>
            </li>
            <li class="divider"></li>
            <li class="message-preview">
              <a href="#">
                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                <span class="name">Kevin Powell:</span>
                <span class="message">Hey Billy, we got your test results back... :*(</span>
                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
              </a>
            </li>
            <li class="divider"></li>
            <li><a href="#">View Inbox <span class="badge">3</span></a></li>
          </ul>
        </li>
        
        <li class="dropdown user-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.name %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            
            <li class="divider"></li>
            <li>
             
                  <%= link_to "logout", logout_path, id: "logout" %>
            

            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div id="page-wrapper">

    <div class="row">
      <div class="col-lg-12">
        <h1>Dashboard <small>Statistics Overview</small></h1>
        <ol class="breadcrumb">
          <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
        </ol>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <span>Hey there, <b><%= current_user.name %></b>!!!! Check out what's been going on since you were last here.</span>
                 
        </div>
      </div>
    </div><!-- /.row -->

    <div class="row">
      <div class="col-lg-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-comments fa-5x"></i>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading"><%= "#{@orders.count}" %></p>
                <p class="announcement-text"><%= "Total Orders Completed" %></p>
              </div>
            </div>
          </div>
          
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6">
                  <%= link_to "All Orders", admin_orders_path %>
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-check fa-5x"></i>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading"><%= "#{@users.count}" %></p>
                <p class="announcement-text"><%= "Total Customers" %></p>
              </div>
            </div>
          </div>
          
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6">
                  <%= link_to "All Customers", customers_path %>
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-tasks fa-5x"></i>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading "><%= "#{number_to_currency(@total_sales)}" %></p>
                <p class="announcement-text"><%= "Total Sales" %></p>
              </div>
            </div>
          </div>
          
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6">
                  <%= link_to "Total Sales", admin_orders_path %>
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-comments fa-5x"></i>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading"><%= "#{@items.count}" %></p>
                <p class="announcement-text"><%= "Items on Menu" %></p>
              </div>
            </div>
          </div>
          
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6">
                  <%= link_to "View Menu", admin_items_path %>
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div><!-- /.row -->

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Recent Orders: </h3>
          </div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped tablesorter">
                  <tr>
                      <th>Order #</th>

                      <th>Customer</th>

                      <th>Status</th>

                      <th>Order placed at</th>

                  </tr>
                  <% @orders.each do |order|  %>
                  <tr>
                      <td><%= order.id %></td>

                      <td>
                      
                        <% if order.user %>

                          <%= order.user.name %>
                        <% else %>
                          Customer has not logged in
                        <% end %>
                      </td>

                      <td><%= order.status %></td>

                      <td><%= order.updated_at.strftime('%m/%d/%Y') %></td>

                  </tr>
                  <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.row -->


  </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->
