<div class="container">
  <div id="wrapper">

    <%= render partial: "layouts/restaurant_admin_navbar" %>

    <div id="page-wrapper">

      <div class="row">
        <div class="col-lg-12">
          <h1>All Orders <small>all orders in the system</small></h1>
          <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> Dashboard</li>
            <li class="active"><i class="fa fa-dashboard"></i> All Orders</li>
          </ol>

        </div>
      </div><!-- /.row -->

      <div>
        <ul>
          <li><%= link_to "All Orders", admin_orders_path %></li>
          <li><%= link_to "Complete Orders", admin_orders_path(filter_by: 'Complete') %></li>
          <li><%= link_to "Incomplete Orders", admin_orders_path(filter_by: 'Incomplete') %></li>
        </ul>
      </div>

          <table class="table table-hover">
              <tr>
                  <th>Order #</th>

                  <th>Customer</th>

                  <th>Status</th>

                  <th>Order Total</th>

                  <th>Order placed at</th>

                  <th>Delete</th>
              </tr>
              <% @orders.each do |order|  %>
              <tr class="table_rows">
                  <td><%= order.id %></td>

                  <td>
                    <% if order.user %>
                      <%= order.user.email %>
                    <% else %>
                      Customer has not logged in
                    <% end %>
                  </td>

                  <td class="status_data"><%= order.status %></td>

                  <td><%= number_to_currency(order.total_price) %></td>

                  <td><%= order.updated_at.strftime('%m/%d/%Y') %></td>

                  <td>
                      <%= button_to "delete", admin_order_path(slug: current_restaurant.slug, id: order.id),:method => :delete %>
                  </td>
              </tr>
          <% end %>
      </table>

    </div><!-- /#page-wrapper -->

  </div><!-- /#wrapper -->
</div>
