<div class="container">
  <div id="wrapper">

    <%= render partial: "layouts/restaurant_admin_navbar" %>

    <div id="page-wrapper">

      <div class="row">
        <div class="col-lg-12">
          <h1>Edit Menu <small>edit all menu items</small></h1>
          <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> Dashboard</li>
            <li class="active"><i class="fa fa-dashboard"></i> Edit Menu</li>
          </ol>

        </div>
      </div><!-- /.row -->
      <table class="table table-hover">
      <tr>
          <th>Item Name</th>

          <th>Description</th>

          <th>Price</th>

          <th>Image url</th>

          <th>Category ID</th>

          <th>Delete</th>

          <th>Edit</th>

      </tr>
      <% @items.each do |item|  %>
      <tr>
          <td><%= item.name %></td>

          <td><%= item.description %></td>

          <td><%= item.price %></td>

          <td><%= item.image_url %></td>

          <td><%= item.category_id %></td>

          <td>
              <%= button_to "delete", admin_item_path(slug: current_restaurant.slug, id: item.id), {class: "btn btn-danger", :method => :delete} %>
          </td>
          <td>
              <%= link_to "edit", edit_item_path(slug: current_restaurant.slug, id: item.id), {class: "btn btn-info"} %>
          </td>
      </tr>
      <% end %>
  </table>

    </div><!-- /#page-wrapper -->

  </div><!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
</div>
