<div class="container">

  <%= render partial: "layouts/navbar" %>

  <h2>Your Past Orders:</h2>
  <!-- Example row of columns -->
  <div class="container-fluid" id="gridInContainer">
    <% @orders.each do |order| %>
    <h2><%= link_to "Order ##{order.id}", order_path(current_restaurant, order) %></h2>
      <div class="row">
            <div class="col-lg-4">
              <p>Date: <%= order.updated_at.strftime('%m/%d/%Y') %></p>
              <% order.order_items.each do |order_item| %>
                Item: <%= order_item.item.name %><br/>
                Quantity: <%= order_item.quantity %><br/>
              <% end %>
              <p>Total Price: <%= number_to_currency(order.total_price) %></p>
            </div> <!-- closing div col -->
      </div> <!-- closing row -->
    <% end %>
  </div>
</div> <!-- /container -->

<%= render partial: "layouts/footer" %>
