

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Billy's BBQ Shack</h3>
        <ul class="nav nav-justified">
          <li><%= link_to "Home", front_path %></li>
          <li><%= link_to "Menu", categories_path %></li>
          <li class="active"><%= link_to "My Orders", orders_path %></li>
          <li><%= link_to "Cart", cart_path %></li>
          <li><%= link_to "Admin", admin_path %></li>
          <% if current_user %>
          <li><%= link_to "Logout", logout_path %></li>
          <% else %>
          <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
      </div>
      
      <h2>Your Past Orders:</h2>
      <!-- Example row of columns -->
      <div class="container-fluid" id="gridInContainer">
        <% @completed_orders.each do |order| %>
        <h2><%= link_to "Order ##{order.id}", order_path(order) %></h2>
          <div class="row">
            
              
                <div class="col-lg-4">
                  <p>Date: <%= order.updated_at.strftime('%m/%d/%Y') %></p>
                  
                  <% order.order_items.each do |order_item| %>
                    Item: <%= order_item.item.name %><br/>
                    Quantity: <%= order_item.quantity %><br/>
                  <% end %>
                  <p>Total Price: <%= number_to_currency(order.total_price) %></p>
                  
              
                </div> <!-- closing div col -->
              
              
          </div> <!-- closing row -->
        <% end %>
      </div>

      

      

    </div> <!-- /container -->

<%= link_to "Back to Menu", categories_path %>

<div class="footer">
  <p>&copy; BB&K 2013</p>
</div>
