<h1>Cart</h1>
<p><%= @order.user.name if @order.user %></p>

<% if @order.incomplete? %>
<% @order.order_items.each do |order_item| %>
<%= order_item.item.name %><br/>
Quantity: <%= order_item.quantity %><br/>
Price :<%= number_to_currency(order_item.item.price) %><br/>
<%= link_to "delete", order_item_path(order_item), method: :delete %><br/><br/>
<% end %>
Subtotal: <%= number_to_currency(@order.total_price) %>
<% end %>

<%= link_to "Checkout", checkout_path(@order) %><br/>

<%= link_to "Back to Menu", categories_path %>
