<div class="container">

      <div class="masthead">
        <h3 class="text-muted"><%= image_tag("kflogo.png") %></h3>
        <ul class="nav nav-justified">
          <li><%= link_to "Home", front_path %></li>
          <li><%= link_to "Menu", categories_path %></li>
          <li><%= link_to "My Orders", orders_path %></li>
          <li class="active"><%= link_to "Cart", cart_path %></li>
          <li><%= link_to "Admin", admin_path %></li>
          <% if current_user %>
          <li><%= link_to "Logout", logout_path %></li>
          <% else %>
          <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
      </div>
    <h1 style="margin-left:108px">Your Cart:</h1><br/>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Item Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <% if @order.incomplete? %>
                        <% @order.order_items.each do |order_item| %>
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://www.amazon.com/Babe-James-Cromwell/dp/B0026IWNZ4/ref=sr_1_1?ie=UTF8&qid=1384397671&sr=8-1&keywords=babe+the+pig" target="_blank"> <img class="media-object" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSCRsIzDVeGNu7YSmYDoDJjsmbP81Xob-ywH0dsqRaUtNv7M9hP0Q" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><%= order_item.item.name %><br/></h4>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <%= form_for(order_item) do |f| %>
                            <%= f.select 'quantity', options_for_select(1..20, order_item.quantity) %>
                            <%= f.submit "Update Quantity" %>
                        <% end %>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong><%= number_to_currency(order_item.item.price) %></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong><%= number_to_currency(order_item.item.price * order_item.quantity) %></strong></td>
                        <td class="col-sm-1 col-md-1">
                        
                            <%= button_to "delete", order_item_path(order_item), {class: "btn btn-danger", method: :delete} %>
                        </td>
                    </tr>
                    <% end %>
                    <% end %>        
                    
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong><%= number_to_currency(@order.total_price) %></strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> <%= link_to "You know you want more food", categories_path, {class: "btn"} %>
                        </button></td>
                        <td>
                            <%= link_to "Checkout", checkout_path(@order), {class: "btn btn-success btn-lg"} %> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="footer">
      
    </div>
    <div class="footer" style="background-color:#dbdbdb;">
      <div class="container" >

        <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>About Us</h2>
          <p>  Knife and Fork Smokehouse was opened in 2011 by a young enthusiastic trio of culinary students, Kevin, Bryana, and Billy, having recently graduated from rSchool.  Billy, having grown up in his mother's restaurants and on his father's cattle farm, always knew he wanted to cook BBQ and good Southern sides.  Armed with his grandmother Mable's recipes and a small inheritance, the three set out to open the Williamsburg BBQ joint.</p> 
          <p></p>
          <p>Knife and Fork is as authentic as the three could muster in Brooklyn.  All Southerners, they wanted to recreate the honky-tonk feeling of roadside BBQs down South.  Their aim is no-frills, no attitude, good old-fashioned BBQ made with fresh, high-quality ingredients in a comfortable, laid-back atmosphere. A slice of Southern Hospitality right in heart of Brooklyn.</p>
          
        </div>
        <div class="col-lg-4">
          <h2>Contact Us</h2>
          <p>Feel free to drop us a line.  We love hearing from our customers.  We promise we don't bite.
          <form class="form-horizontal">
            <fieldset>

            <!-- Form Name -->
            <legend></legend>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="textinput">Email</label>
              <div class="controls">
                <input id="textinput" name="textinput" type="text" placeholder="" class="input-xlarge" required="">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="textinput">Subject</label>
              <div class="controls">
                <input id="textinput" name="textinput" type="text" placeholder="" class="input-xlarge" required="">
                
              </div>
            </div>

            <!-- Textarea -->
            <div class="control-group">
              <label class="control-label" for="textarea">Message</label>
              <div class="controls">                     
                <textarea id="textarea" name="textarea"></textarea>
              </div>
            </div>

            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for=""></label>
              <div class="controls">
                <button id="" name="" class="btn btn-primary">send</button>
              </div>
            </div>

            </fieldset>
            </form>
       </div>
        <div class="col-lg-4">
          <h2>Come Find Us</h2>
          <div class="row-fluid">
              <div class="span8">
                <iframe width="300" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=15+Greenpoint+Ave,+Brooklyn,+NY&amp;aq=0&amp;oq=15+greenpointe+ave+brook&amp;sll=39.764339,-104.855112&amp;sspn=0.325133,0.727844&amp;ie=UTF8&amp;hq=&amp;hnear=15+Greenpoint+Ave,+Brooklyn,+Kings,+New+York+11222&amp;t=m&amp;ll=40.729698,-73.960047&amp;spn=0.016261,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=15+Greenpoint+Ave,+Brooklyn,+NY&amp;aq=0&amp;oq=15+greenpointe+ave+brook&amp;sll=39.764339,-104.855112&amp;sspn=0.325133,0.727844&amp;ie=UTF8&amp;hq=&amp;hnear=15+Greenpoint+Ave,+Brooklyn,+Kings,+New+York+11222&amp;t=m&amp;ll=40.729698,-73.960047&amp;spn=0.016261,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
            </div>
              <div class="span4">
              <address>
                <strong>KNIFE & FORK</strong><br>
                15 Greenpointe Ave<br>
                Brooklyn<br>
                NY, NY 10001<br>
                <abbr title="Phone">P:</abbr> 917-745-2834
              </address>
            </div>
            &copy; BB&K 2013</p>
        </div>

        </div>
      </div>

