<div class="container">

      <div class="masthead">
        <h3 class="text-muted">Billy's BBQ Shack</h3>
        <ul class="nav nav-justified">
          <li><%= link_to "Home", front_path %></li>
          <li><%= link_to "Menu", categories_path %></li>
          <li><%= link_to "My Orders", orders_path %></li>
          <li class="active"><%= link_to "Cart", cart_path %></li>
          <li><%= link_to "Admin", admin_path %></li>
          <% if current_user %>
          <li><%= link_to "Logout", logout_path %></li>
          <% else %>
          <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
      </div>
    <h1 style="margin-left:108px">Your Cart:</h1><br/>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Item Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <% if @order.incomplete? %>
                        <% @order.order_items.each do |order_item| %>
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://www.amazon.com/Babe-James-Cromwell/dp/B0026IWNZ4/ref=sr_1_1?ie=UTF8&qid=1384397671&sr=8-1&keywords=babe+the+pig"> <img class="media-object" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSCRsIzDVeGNu7YSmYDoDJjsmbP81Xob-ywH0dsqRaUtNv7M9hP0Q" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><%= order_item.item.name %><br/></h4>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <%= form_for(order_item) do |f| %>
                            <%= f.select 'quantity', options_for_select(1..20, order_item.quantity) %>
                            <%= f.submit "Update Quantity" %>
                        <% end %>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong><%= number_to_currency(order_item.item.price) %></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong><%= number_to_currency(order_item.item.price * order_item.quantity) %></strong></td>
                        <td class="col-sm-1 col-md-1">
                        
                            <%= button_to "delete", order_item_path(order_item), {class: "btn btn-danger", method: :delete} %>
                        </td>
                    </tr>
                    <% end %>
                    <% end %>        
                    
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong><%= number_to_currency(@order.total_price) %></strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> <%= link_to "You know you want more food", categories_path, {class: "btn"} %>
                        </button></td>
                        <td>
                            <%= link_to "Checkout", checkout_path(@order), {class: "btn btn-success btn-lg"} %> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="footer">
      <p>&copy; BB&K 2013</p>
    </div>

