<div class="form-background">
  <div class="container">

    <center><h2 class="form-signin-heading">Sign in</h2></center>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "form-signin"}) do |f| %>
      
      <%= f.email_field :email, placeholder: "Email", class: "form-control", :autofocus => true %>

      <%= f.password_field :password, placeholder: "Password", class: "form-control" %>

      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      <% end -%>

      <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>

    <center><%= render "devise/shared/links" %></center>

  </div>
</div>
