<% if user_signed_in? %>
  <li><%= link_to "Logout", logout_path %></li>

  <li><%= link_to "Request to create a new restaurant", new_restaurant_path %></li>
<% else %>
  <li><%= link_to "Login", login_path %></li>
<% end %>


<h1>Restaurant Index</h1>
List of the restaurants [<%= @restaurants.count %>]

<table>
  <th>Name</th>
  <th>Description</th>
  <th>Status</th>
  <th></th>
  <th></th>
  <th>Display</th>
  <th></th>
  <th></th>
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.description %></td>

      <td><%= restaurant.status %></td>
      <td><%= button_to 'approved'%></td>
      <td><%= button_to 'rejected'%></td>

      <td><%= restaurant.display %></td>
      <td><%= button_to 'Show'%></td>
      <td><%= button_to 'Hide'%></td>

    </tr>
  <% end %>
</table>
