<h2>Request to create a new restaurant</h1>

<%= form_for(@restaurant) do |f| %>
  <ul>
    <% @restaurant.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :description %><br />
  <%= f.text_field :description %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>
