<%= render partial: "layouts/platform_navbar" %>

<div class="form-background">
  <div class="container">


    <center><h2 class="form-signin-heading">Request to create a new restaurant</h2></center>

    <%= form_for(@restaurant, html: {class: "form-signin"}) do |f| %>
      <% if @restaurant.errors %>
      <ul>
        <% @restaurant.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
      <%= f.text_field :name, placeholder: "Restaurant name", class: "form-control" %>

      <%= f.text_field :description, placeholder: "Description", class: "form-control" %>

      <%= f.collection_select :region_id, Region.all, :id, :name, class: "form-control" %>

      <%= f.text_field :logo_url, placeholder: "Logo url", class: "form-control" %>

      <%= f.text_field :primary_picture_url, placeholder: "Primary picture url", class: "form-control" %>

      <%= f.submit "Request restaurant", class: "btn btn-lg btn-primary btn-block" %>

    <% end %>
  </div>
</div>

<%= render partial: "layouts/platform_footer" %>
