<h2>Request to create a new restaurant</h1>

<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors %>
  <ul>
    <% @restaurant.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
  <p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :description %><br />
  <%= f.text_field :description %>
  </p>
  <p>
  <%= f.label :region %><br />
  <%= f.text_field :region %>
  </p>p>
  <%= f.label :logo_url %><br />
  <%= f.text_field :logo_url %>
  </p>
  <p>
  <%= f.label :primary_picture_url %><br />
  <%= f.text_field :primary_picture_url %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>
