<%= render partial: "layouts/platform_navbar" %>

<center>

  <p>Thank you, we have received your request for a new restaurant</p>

  <p>Name: <%= @restaurant.name %></p>
  <p>Description: <%= @restaurant.description %></p>
  <p>Status: <%= @restaurant.status %></p>
  <p>Region: <%= @restaurant.region.name %></p>

  <p>Expect an email from us shortly. Once your submission is approved, your restaurant website will be available.</p>

</center>

<%= render partial: "layouts/platform_footer" %>
