<div id="wrapper">

  <!-- Sidebar -->

  <%= render partial: "layouts/restaurant_admin_navbar" %>

  <div id="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Edit Menu Item <small>make changes to existing menu items</small></h1>
        <ol class="breadcrumb">
          <li><i class="fa fa-dashboard"></i> Dashboard</li>
          <li class="active"><i class="fa fa-dashboard"></i> Edit Menu Item</li>
        </ol>

      </div>
    </div><!-- /.row -->

    <div class=row"
      <div class="col-lg-12">


        <%= form_for(@item, url: item_path(current_restaurant, @item)) do |f| %>
        <ul>
        <% @item.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
        </ul>
      <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name %>

      </div>
        <p>
          <%= f.label :description %><br />
          <%= f.text_area :description %>
        </p>
        <p>
          <%= f.label :price %><br />
          <%= f.text_area :price %>
        </p>
        <p>
          <%= f.label :category_id %><br />
          <%= f.text_area :category_id %>
        </p>
        <p>
          <%= f.label :image, "Attach an Image" %><br />
          <%= f.file_field :image %>
        </p>
        <p>
          <%= f.submit %>
        </p>
      <% end %>

    </div>
  </div>
  </div>


  </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->



