
<div class="container">

  <%= render partial: "layouts/navbar" %>

  <h3>Thank you for your order!</h3>
  
  <%= image_tag "hogs-n-kisses.jpg" %>
  
  <br/><br/>

  <% @order.order_items.each do |order_item|  %>

    <%= order_item.item.name %><br/>
    Quantity: <%= order_item.quantity %><br/><br/>

  <% end %>

  Total Price: <%= number_to_currency(@order.total_price) %><br/>
  Order Status: <%= @order.status %><br/>

  <%= link_to "Back to Menu", categories_path %>

</div>
  
  <%= render partial: "layouts/footer" %>

  
