
<div class="container">

  <%= render partial: "layouts/navbar" %>



  <center>
    <h3>Thank you for your order!</h3>
    <%= image_tag "hogs-n-kisses.jpg" %>
  
    <br/><br/>

    <h3>Transaction Summary</h3>

    <br/>
    
    <% @order.order_items.each do |order_item|  %>

      <p>Item: <%= order_item.item.name %></p>
      <p>Quantity: <%= order_item.quantity %></p>
      <p>Item Total: <%= number_to_currency(order_item.item.price * order_item.quantity) %></p>
      <hr>

    <% end %>

    Total Price: <%= number_to_currency(@order.total_price) %><br/>
    Order Status: <%= @order.status %><br/>
  </center>
  <%= link_to "Back to Menu", categories_path %>

</div>
  
  <%= render partial: "layouts/footer" %>

  
