<div class="container">
  <h3><%= @restaurant.name %></h3>

  <%= render partial: "layouts/navbar" %>

  
  <!-- Jumbotron -->
  <div class="jumbotron">
    <%= image_tag(current_restaurant.primary_picture_url) %>
  </div>

  <!-- Example row of columns -->
  <center><div class="container-fluid" id="gridInContainer">
    <% @categories.each do |category| %>
    <h2><%= category.name %></h2>
      <div class="row">

          <% category.items.each do |item| %>

            <%= render partial: 'category_listing', locals: {item: item, restaurant: @restaurant}  %>

          <% end %>

      </div> <!-- closing row -->
    <% end %>
    <br/>
    <br/>
  </div></center>
  <br/>
  <center><%= image_tag("bottom.jpg") %></center>


</div> <!-- /container -->


<%= render partial: "layouts/footer" %>
