<div class="container">
  <h3>RESTAURANT NAME: <%= @restaurant.name %></h3>
  <h4>RESTAURANT admins: <%= @admins.inspect %></h4>
  <h4>RESTAURANT stockers: <%= @stockers.inspect %></h4>
  <%= current_restaurant.inspect %>  

  <%= render partial: "layouts/navbar" %>

  <center><%= image_tag("front3.png") %></center>
  <!-- Jumbotron -->
  <div class="jumbotron">

    <%= image_tag("niddle.png") %>
  </div>

  <!-- Example row of columns -->
  <center><div class="container-fluid" id="gridInContainer">
    <% @categories.each do |category| %>
    <h2><%= category.name %></h2>
      <div class="row">

          <% category.items.each do |item| %>

            <%= render partial: 'category_listing', locals: {item: item, restaurant: @restaurant}  %>

          <% end %>

      </div> <!-- closing row -->
    <% end %>
    <br/>
    <br/>
  </div></center>
  <br/>
  <center><%= image_tag("bottom.jpg") %></center>


</div> <!-- /container -->


<%= render partial: "layouts/footer" %>
