<%= render partial: "layouts/navbar" %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OrderUP Store Front Page</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'Business Frontpage' Template -->
    <%= stylesheet_link_tag "storefront" %>
  </head>

  <body>

    
      <div class="business-header">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- The background image is set in the custom CSS -->
            </div>
          </div>
        </div>
      </div>
    <div class="container">
      <hr>
      <div class="featurette" id="about">
        <img class="featurette-image img-circle img-responsive pull-right" src="http://s16.postimg.org/dsqf0wwjp/grand.jpg">
        <h2 class="featurette-heading"> <%= current_restaurant.name %> <span class="text-muted">Was Born On the Oregon Trail</span></h2>
        <p class="lead">Jebadiah Griffin, Great, Great Grandfather of Billy Griffin started the first SMOQUE bbq house after working as a short order cook  a wagon train heading out west on the Oregon Trail.  When the group stopped in Indiana, Jebadiah Got off saying he had been called to open up a mid-priced family style bbq restaurant. </p>
      </div>
      <hr>
      
      <div class="row">
      <div class="col-lg-6">
        <br/>
        <br/>
        <br/>
        <br/>
      <!-- <div class="featurette filter-down" id="about"> -->
        <h2 class="featurette-heading">Filter By Category</h2>
        <table>
          <tr>
            <% @categories.each do |category| %>
              <td><%= link_to category.name, categories_path(current_restaurant, filter: category.name), class: "btn btn-primary" %></td>
            <% end %>
              <td><%= link_to "All Categories", categories_path(current_restaurant), class: "btn btn-primary" %></td>
          </tr>
        </table>
      </div>
      <div class="col-lg-6">
        <center><img class = "pull-right" src="http://s23.postimg.org/fjwlfbtu3/chalk.jpg"></center>
      </div>
    </div><!-- /container -->
      


    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

  </body>
</html>



  <div class="container">
  <br/>
  <br/>


    <!-- Example row of columns -->
    <center><div class="container-fluid" id="gridInContainer">
      <% @category_filter.each do |category| %>
      <h2><%= category.name %></h2>
        <div class="row">

            <% category.items.each do |item| %>

              <%= render partial: 'category_listing', locals: {item: item, restaurant: @restaurant}  %>

            <% end %>

        </div> <!-- closing row -->
      <% end %>
      <br/>
      <br/>
    </div></center>
    <br/>
    <div class="row">
          
          
        </div>

  </div> <!-- /container -->
</div>


<%= render partial: "layouts/footer" %>
