
<div id="navbar"> 
  <ul>  
    <li>
        <% if current_user %>
            <span>Welcome, <%= current_user.name %></span>
            <%= link_to "logout", logout_path, id: "login" %>
        <% else %>
            <%= link_to "login", login_path, id: "logout" %>
        <% end %>
    </li>
    <li><%= link_to "About", about_path %></li> 
    <li><%= link_to "Account", orders_path %></li> 
    <li><%= link_to "Menu", categories_path %></li> 
    <li><%= link_to "Cart", cart_path %></li> 
    <li><%= link_to "Contact Us", contact_path %></li>  
    <li>©2013 Billy's Southern Style BBQ. Design by BB&K</li> 
    <li><%= link_to "ADMIN", admin_path %></li> 
  </ul> 
</div>    


    <div style="color:black;margin:60px;" ><!--begin container div -->
    <p class="flash"><%= flash.notice %></p>
    <center><h1>Get it While It's Hot</h1>
    <h3>Use our new fangled, brand spankin' new online ordering system</h3></center>

      <% @categories.each do |category| %>
        <h2><%= category.name %></h2>
        <ul>
          <% category.items.each do |item| %>
            <li>Name: <%= item.name %><br/>
            Description: <%= item.description %><br/>
            Price: <%= number_to_currency(item.price) %><br/>

            <%= form_for(OrderItem.new) do |f| %>
              Quantity: <%= f.select 'quantity', options_for_select(1..20) %>
              <%= f.hidden_field :item_id, { :value => item.id } %>
              <%= f.submit "Add to Cart" %>
            <% end %>

            </li>
          <% end %>
        </ul>
      <% end %>
    </div><!--end container div -->


 
