<div class="container">
  <div id="wrapper">

    <%= render partial: "layouts/restaurant_admin_navbar" %>

    <div id="page-wrapper">

      <div class="row">
        <div class="col-lg-12">
          <h1>All Customers <small>all customers</small></h1>
          <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> Dashboard</li>
            <li class="active"><i class="fa fa-dashboard"></i> All Customers</li>
          </ol>

        </div>
      </div><!-- /.row -->

          <table class="table table-hover">
              <tr>
                  <th>Customer Name</th>

                  <th>Total Orders</th>

                  <th>Completed Orders</th>

                  <th>First order date</th>

                  <th>Most recent order date</th>

              </tr>
              <% @users.each do |user|  %>
              <tr>

                  <td><%= user.email %></td>

                  <td><%= user.orders.count %></td>

                  <td><%= user.orders.where(:status => "complete").count %></td>

                  <% unless user.orders.empty? %>

                  <td><%= user.orders.first.updated_at.strftime('%m/%d/%Y') %></td>

                  <td><%= user.orders.last.updated_at.strftime('%m/%d/%Y') %></td>

                  <% end %>

              </tr>
          <% end %>
      </table>

    </div><!-- /#page-wrapper -->

  </div><!-- /#wrapper -->
</div>
  <!-- Bootstrap core JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
