<!DOCTYPE html>
<html>
  <head>
    <title>Knife & Fork</title> <!-- begging wrap for bootstrap-->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
      <!-- Bootstrap core CSS -->
      <%= stylesheet_link_tag "bootstrap2" %>

      <!-- Custom styles for this template -->
      <%= stylesheet_link_tag "bootstrap-nav" %>
       
      <!-- <link href="front-style.css" rel="stylesheet" type="text/css" /> -->

      <%= javascript_include_tag "application" %>
  </head>
  
  <body>

  <% if flash.notice.present? %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Notice: </strong> <%= flash.notice %>
    </div>
  <% end %>

  <%= yield %>

  

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src= "http://code.jquery.com/jquery.js"></script>  
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
