<!DOCTYPE html>
<html>
  <head>
    <title>OrderUp</title> <!-- begging wrap for bootstrap-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <%= csrf_meta_tag %>
    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "bootstrap2" %>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "bootstrap-nav" %>
    <%= stylesheet_link_tag "style" %>
    

    <!-- <link href="front-style.css" rel="stylesheet" type="text/css" /> -->

    <%= javascript_include_tag "application" %>

  </head>

  <body>

    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <% if flash.notice.present? %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Notice: </strong> <%= flash.notice %>
      </div>
    <% end %>

    <%= yield %>


  </body>
</html>
